In [1]:
from SPARQLWrapper import SPARQLWrapper, XML, JSON
import pandas as pd

In [3]:
#hard code the source for the example
source = "http://sparql.hegroup.org/sparql/"

The example query is specificially looking for classes that have VO_ in them. If you have a different string, you can simply replace the regex filter with what you want. Also recommended to change the select count as (first line of query) to what you're counting if it isn't VO_class_count like the example

In [6]:
def class_counts(source):
    sparql = SPARQLWrapper(source)
    sparql.setReturnFormat(JSON)
    sparql.setQuery("""
    SELECT count(?s) as ?VO_class_count
    FROM <http://purl.obolibrary.org/obo/merged/VO>
    WHERE
    {
    ?s a owl:Class .
    ?s rdfs:label ?label .

    FILTER regex( ?s, "VO_" )
    }
    """)
    try: 
        ret = sparql.queryAndConvert()
        results = []
        for r in ret["results"]["bindings"]:
            results.append(r)
        classes = []
        for result in results:
            classes.append(result['VO_class_count']['value'])
        df = pd.DataFrame({"VO_class_count": classes})
        pd.set_option('display.max_rows', None)

        return df
    except: 
        print("Oh Noes!")

In [7]:
class_counts(source)

  VO_class_count
0           6237

In [12]:
def object_property_counts(source):
    sparql = SPARQLWrapper(source)
    sparql.setReturnFormat(JSON)
    sparql.setQuery("""
    SELECT count(?s) as ?VO_object_property_count
    FROM <http://purl.obolibrary.org/obo/merged/VO>
    WHERE
    {
    ?s a owl:ObjectProperty .
    ?s rdfs:label ?label .

    FILTER regex( ?s, "VO_" )
    }
    """)
    try: 
        ret = sparql.queryAndConvert()
        results = []
        for r in ret["results"]["bindings"]:
            results.append(r)
        classes = []
        for result in results:
            classes.append(result['VO_object_property_count']['value'])
        df = pd.DataFrame({"VO_object_property_count": classes})
        pd.set_option('display.max_rows', None)

        return df
    except: 
        print("Oh Noes!")

In [13]:
object_property_counts(source)

  VO_object_property_count
0                       36

In [14]:
def annotation_property_counts(source):
    sparql = SPARQLWrapper(source)
    sparql.setReturnFormat(JSON)
    sparql.setQuery("""
    SELECT count(?s) as ?VO_annotation_property_count
    FROM <http://purl.obolibrary.org/obo/merged/VO>
    WHERE
    {
    ?s a owl:AnnotationProperty .
    ?s rdfs:label ?label .

    FILTER regex( ?s, "VO_" )
    }
    """)
    try: 
        ret = sparql.queryAndConvert()
        results = []
        for r in ret["results"]["bindings"]:
            results.append(r)
        classes = []
        for result in results:
            classes.append(result['VO_annotation_property_count']['value'])
        df = pd.DataFrame({"VO_annotation_property_count": classes})
        pd.set_option('display.max_rows', None)

        return df
    except: 
        print("Oh Noes!")

In [15]:
annotation_property_counts(source)

  VO_annotation_property_count
0                           28

In [16]:
def datatype_property_counts(source):
    sparql = SPARQLWrapper(source)
    sparql.setReturnFormat(JSON)
    sparql.setQuery("""
    SELECT count(?s) as ?VO_datatype_property_count
    FROM <http://purl.obolibrary.org/obo/merged/VO>
    WHERE
    {
    ?s a owl:DatatypeProperty .
    ?s rdfs:label ?label .

    FILTER regex( ?s, "VO_" )
    }
    """)
    try: 
        ret = sparql.queryAndConvert()
        results = []
        for r in ret["results"]["bindings"]:
            results.append(r)
        classes = []
        for result in results:
            classes.append(result['VO_datatype_property_count']['value'])
        df = pd.DataFrame({"VO_datatype_property_count": classes})
        pd.set_option('display.max_rows', None)

        return df
    except: 
        print("Oh Noes!")

In [17]:
datatype_property_counts(source)

  VO_datatype_property_count
0                          0